# dependencies
node_modules

# build output
dist
dist-ssr
*.local

# env files
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea

# os
.DS_Store
Thumbs.db

package-lock.json
